{# src/Views/templates/partials/footer.twig #}
<div class="p-8">
    <div class="flex justify-between items-center w-full">
        <div class="col-md-6">
            <h5>Gift App</h5>
            <p>Une application pour gérer vos cadeaux préférés.</p>
        </div>
        <div class="col-md-6 text-md-end">
            <p>&copy; {{ "now"|date("Y") }} Gift App. Tous droits réservés.</p>
        </div>
    </div>
</div>