{# src/Views/templates/partials/header.twig #}
<div class="p-8">
    <div class="flex justify-between items-center w-full">
        <div>
            <a href="/">
                <h1 class="text-2xl font-bold">Gift App</h1>
            </a>
        </div>
        <nav>
            <ul class="flex justify-between items-center gap-8">
                <li class="hover:underline"><a href="/">Accueil</a></li>
                <li class="hover:underline"><a href="/categories">Catégories</a></li>
            </ul>
        </nav>
    </div>
</div>