
{# src/Views/templates/layout.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gift App{% endblock %}</title>
    <link type="text/tailwindcss" href="{{ base_url() }}/assets/styles/main.css"/>
    {% block styles %}{% endblock %}
</head>
<body class="bg-gray-100 min-h-screen">
<header class="bg-gray-800 text-white shadow-md">
    {% include 'partials/header.twig' %}
</header>

<main class="min-h-screen w-screen">
    {% block content %}{% endblock %}
</main>



<footer class="bg-gray-800 text-white">
    {% include 'partials/footer.twig' %}
</footer>


<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
{#<script src="{{ base_url() }}/assets/js/app.js"></script>#}
{% block scripts %}{% endblock %}
</body>
</html>